template(name='home')
    .ui.stackable.padded.grid
        .row
            .eight.wide.column
                .ui.header bolder coders
                .ui.button.join 
                    |join
            .eight.wide.column
                .ui.header groups
                .ui.header jobs
                .ui.header gigs
                .ui.header forum
                
                                    
                                    
                                    